.header {
    background-color: #EDF0F5;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    height: 100px;
}

.header .title {
    padding: 25px;
    font-size: 25px;
    margin: auto;
    color: #505F6B;
    position: relative;
}

.header .cancel {
    margin-top: 30px;
    font-size: 15px;
    background-color: #E14652;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.47);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.47);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.47);
    border-radius: 2px;
    margin-right: 25px;
}

.header .cancel:hover{
    background-color: rgb(224, 104, 114)
}

form {
    padding: 30px;
}

label {
    font-weight: bold; 
    font-size: 10px;
}

span {
    color: red;
    font-size: 8px;
}

body input{
    font-size: 10px;
}

.fa-calendar-alt {
    font-size: 14px;
}

.aLitteBitOfSpacePls {
    margin: 10px;
}

.contact {
    margin-top: -35px;
    margin-bottom: -35px;
}

.ocult_fields {
    color: #60A8E1;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.ocult_fields i {
    background-color: #60A8E1;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 4px;
    padding-left: 4px;
    border-radius: 3px;
    font-size: 15px;
    margin-right: 10px;
}

.ocult_fields:hover{
    color: rgb(135, 195, 245);
}

.divisor {
    margin-top: 30px;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.save {
    font-size: 15px;
    border-radius: 2px;
    margin-right: 15px;
    background-color: #4B9EC4;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.footer .cancel {
    font-size: 15px;
    border-radius: 2px;
    background-color: white;
    border: 1.5px solid rgba(0, 0, 0, 0.1);
    color: #87898B;
}

.plus i {
    font-size: 13px;
    color: #60A8E1;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 3px;
    cursor: pointer;
}

.plus i:hover {
    color: rgb(143, 191, 229);
}

.controls div {
    padding: 5px;
    margin-left: 5px;
}

.controls label{
    margin-left: 18px;
}

.trash {
    color: rgba(0, 0, 0, 0.2) !important;
}

.trash:hover{
    color: rgba(0, 0, 0, 0.5) !important;
}

input[type="text"], textarea {
    background-color : #FBFBFB; 
}

.select{
    background-color : #FBFBFB; 
}
